body {
    background-color: cornsilk;
}

#student-container {
    display: flex;
    flex-wrap: wrap;
}

#voldArmy-container {
    display: flex;
    flex-wrap: wrap;
}

.first-years {
    position:absolute;
    left: auto;
    max-width: 48%;
    border: 3px solid gold;
    margin-left: 2%;
}

.dark-army {
    position: absolute;
    right: 0;
    max-width: 48%;
    border: 3px solid darkred;
    margin-right: 2%;
}